/*.slideshow-container{
  max-width: 800px;
  align-self: center;
}*/
.mySlides{
  display: none;
  /*width: 500px;*/
  height: 250px;
}

body {
	background-color: #0f224e !important;
}

#DIV_1 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 169px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 1913px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 956.5px 84.5px;
    transform-origin: 956.5px 84.5px;
    caret-color: rgb(34, 34, 34);
    background: rgb(0, 32, 82) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 14px / 21px Arial, Helvetica, sans-serif;
    margin: 20px 0px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 169px;
    max-width: 1200px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 1200px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 600px 84.5px;
    transform-origin: 600px 84.5px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 14px / 21px Arial, Helvetica, sans-serif;
    margin: 0px 356.5px;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(34, 34, 34);
    content: '"' '"';
    display: table;
    height: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 14px / 21px Arial, Helvetica, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    content: '"' '"';
    display: table;
    height: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 14px / 21px Arial, Helvetica, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    float: left;
    height: 169px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    width: 1200px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 600px 84.5px;
    transform-origin: 600px 84.5px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 14px / 21px Arial, Helvetica, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 15px;
}/*#DIV_3*/

#UL_4 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 169px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 1170px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 585px 84.5px;
    transform-origin: 585px 84.5px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
}/*#UL_4*/

#UL_4:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(34, 34, 34);
    content: '"' '"';
    display: table;
    height: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#UL_4:after*/

#UL_4:before {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    content: '"' '"';
    display: table;
    height: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#UL_4:before*/

#LI_5 {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 129px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 234px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117px 64.5px;
    transform-origin: 117px 64.5px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(21, 48, 95);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 20px;
}/*#LI_5*/

#UL_6, #UL_16 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 76px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 193px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 96.5px 38px;
    transform-origin: 96.5px 38px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_6, #UL_16*/

#LI_7, #LI_9, #LI_11, #LI_13, #LI_17, #LI_19, #LI_21, #LI_23, #LI_27, #LI_29, #LI_31, #LI_33, #LI_35, #LI_39, #LI_41, #LI_43, #LI_47, #LI_49, #LI_51, #LI_53, #LI_55 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 19px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 193px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 96.5px 9.5px;
    transform-origin: 96.5px 9.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_7, #LI_9, #LI_11, #LI_13, #LI_17, #LI_19, #LI_21, #LI_23, #LI_27, #LI_29, #LI_31, #LI_33, #LI_35, #LI_39, #LI_41, #LI_43, #LI_47, #LI_49, #LI_51, #LI_53, #LI_55*/

#A_8, #A_10, #A_14, #A_18, #A_22, #A_28, #A_32, #A_36, #A_40, #A_44, #A_48, #A_52, #A_56 {
    box-sizing: border-box;
    color: rgb(57, 169, 220);
    text-align: left;
    text-decoration: none solid rgb(57, 169, 220);
    text-size-adjust: 100%;
    column-rule-color: rgb(57, 169, 220);
    caret-color: rgb(57, 169, 220);
    border: 0px none rgb(57, 169, 220);
    font: normal normal 400 normal 12.8px / 19.2px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(57, 169, 220) none 0px;
}/*#A_8, #A_10, #A_14, #A_18, #A_22, #A_28, #A_32, #A_36, #A_40, #A_44, #A_48, #A_52, #A_56*/

#A_12, #A_20, #A_30, #A_42, #A_50 {
    box-sizing: border-box;
    color: rgb(57, 169, 220);
    text-align: left;
    text-decoration: none solid rgb(57, 169, 220);
    text-size-adjust: 100%;
    column-rule-color: rgb(57, 169, 220);
    caret-color: rgb(57, 169, 220);
    border: 0px none rgb(57, 169, 220);
    font: normal normal 400 normal 12.8px / 19.2px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(57, 169, 220) none 0px;
}/*#A_12, #A_20, #A_30, #A_42, #A_50*/

#LI_15, #LI_25, #LI_37, #LI_45 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 129px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 234px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117px 64.5px;
    transform-origin: 117px 64.5px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(21, 48, 95);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 20px;
}/*#LI_15, #LI_25, #LI_37, #LI_45*/

#A_24, #A_34, #A_54 {
    box-sizing: border-box;
    color: rgb(57, 169, 220);
    text-align: left;
    text-decoration: none solid rgb(57, 169, 220);
    text-size-adjust: 100%;
    column-rule-color: rgb(57, 169, 220);
    caret-color: rgb(57, 169, 220);
    border: 0px none rgb(57, 169, 220);
    font: normal normal 400 normal 12.8px / 19.2px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(57, 169, 220) none 0px;
}/*#A_24, #A_34, #A_54*/

#UL_26, #UL_46 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 95px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 193px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 96.5px 47.5px;
    transform-origin: 96.5px 47.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_26, #UL_46*/

#UL_38 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 57px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 193px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 96.5px 28.5px;
    transform-origin: 96.5px 28.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 19.5px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_38*/


