/*.slideshow-container{
  max-width: 800px;
  align-self: center;
}*/
.mySlides{
  display: none;
  /*width: 500px;*/
  height: 250px;
}

.textPic{
  display: block;
}
.boxes{
  max-width: 200px;
}
.textPic{
  display: block;
  margin: auto;
}
.info{
  text-align: center;
}
.container.blue{
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer{
  padding-top: 10px;
  padding-bottom: 10px;
}
.boxes{
  display: block;
  margin: auto;
}
